CompileFlags:
    Add: 
        - -Wno-unknown-argument
        - -Wno-unused-command-line-argument
        - -I/usr/include/qt6
        - -I/usr/include/qt6/QtCore
        - -I/usr/include/qt6/QtWidgets
    Remove: 
        -W*
        - -mno-direct-extern-access
        - -fstrict-aliasing

CompileCommands: build/compile_commands.json
Index:
    Background: Build
