[submodule "libs/curlpp"]
	path = libs/curlpp
	url = https://github.com/jpbarrette/curlpp
[submodule "libs/payload-dumper-go"]
	path = libs/payload-dumper-go
	url = https://github.com/ssut/payload-dumper-go
