[Desktop Entry]
Type=Application
Name=UniFlashTool
Comment=Universal Flashing Tool for Android Devices
Exec=uniflashtool
Icon=uniflashtool
Terminal=false
Categories=Development;System;